/* General styles */
body {
  background-color: #8d4a4a;
  border-image-width:auto;
}
.box {
  width: 50px;             /* Content width */
  height: 50px;            /* Content height */
  background: rgb(168, 119, 86);    /* Content background */
  
  padding: 20px;            /* Space inside */
  border: 5px solid rgb(172, 170, 170);   /* Border */
  margin: 30px;             /* Space outside */
}
